<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de x cosa</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <header>
    <div class="cart">
      carrito: ($ <span class="cart__total">0</span>)
      <button class="cart__btn">
        0
      </button>
      <div class="cart__list"></div>
    </div>
  </header>

  {{{ body }}}

  <footer>

  </footer>

  <script src="/scripts/cart.js"></script>
  
</body>
</html>