<h1>Checkout</h1>

{{#if showError}}
<section>
  <h3>Error!</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi officia odit obcaecati recusandae saepe pariatur eaque minima ipsum odio, aliquam error repudiandae reprehenderit, ullam soluta doloremque quisquam possimus mollitia.</p>
</section>
{{/if}}

<form action="/checkout" method="POST">
  <label>
    Name
    <input placeholder="Name" name="firstname">
  </label>
  <label>
    Address
    <input placeholder="Address" name="address" required="true">
  </label>
  <label>
    Type
    <select name="type">
      <option>One</option>
      <option>Two</option>
    </select>
  </label>
  <label>
    Age (optional)
    <input placeholder="Age" name="age" type="number">
  </label>

  <div class="btngroup">
    <input name="payment_type" type="hidden">
    <div class="btngroup__item">
      Visa
    </div>
    <div class="btngroup__item">
      Master Card
    </div>
    <div class="btngroup__item">
      asdasdas
    </div>
    <div class="btngroup__item">
      6a5656
    </div>
  </div>

  <button>Send</button>
</form>

<script>
  var typeInput = document.querySelector('[name="payment_type"]');
  var buttons = document.querySelectorAll('.btngroup__item');
  buttons.forEach(function (btn) {
    btn.addEventListener('click', function(ev){
      typeInput.value = ev.target.innerText;
      console.log('funcionando', ev.target.innerText);
    });
  });
</script>