<h1>Checkout</h1>

<form action="/checkout" method="POST">
  <label>
    Name
    <input placeholder="Name" name="firstname" required="true">
  </label>
  <label>
    Address
    <input placeholder="Address" name="address" required="true">
  </label>
  <button>Send</button>
</form>